---
layout: layout
section: snippet
class: snippet
tweaks:
  notitle: true
  notitlehr: true
---
<div class="snippet">
  {% if page.snippet.title %}<h2 class="half-bottom">{{ page.snippet.title }}</h2>{% endif %}
  <div>
    {{ page.snippet.content }}
  </div>
  <div class="align-right">
    <small>Tags: {% for tag in page.snippet.tags %}{% if forloop.last and forloop.first == false %} and {% endif %}{% if forloop.last == false and forloop.first == false %}, {% endif %}<a href="/snippet/t/{{tag.id}}.html">{{tag.label}}</a>{% endfor %}.</small>
  </div>    
  {% if page.snippet.credit %}<div class="align-right"><small>Credit: {{ page.snippet.credit }}</small></div>{% endif %}
</div>
<!-- <hr/> -->

